.container {
  border: 1px solid #78281f;
  text-align: center;
  min-height: 25rem;
  background: #fff;
  opacity: 0.9;
  position: relative;
  width: 13.6rem;
  padding-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
}

.image {
  height: 15rem;
  width: 100%;
  border-radius: 6px;
}
.container:hover {
  opacity: 1;
}
h1 {
  font-size: 1rem;
}
.link {
  position: absolute;
  bottom: 1%;
  left: 32%;
}
.detalles {
  font-family: cursive;
  text-decoration: none;
  color: #78281f;
}

:placeholder-shown {
  color: maroon;
}
::placeholder {
  text-align: center;
}

.temperamento {
  color: #7c5b1f;
  font-weight: 600;
}

.box {
  margin-left: 10px;
  margin-right: 10px;
}
