.container {
  box-shadow: 1px 1px 2px 1px #78281f;
  text-align: center;

  background: #fff;
  opacity: 0.9;
  position: relative;
  width: 22rem;
  padding-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
  height: 23rem;
}

.image {
  height: 15rem;
  width: 100%;
  border-radius: 6px;
}
.container:hover {
  box-shadow: 8px 8px #78281f;
  opacity: 1;
}
h1 {
  font-size: 1.3rem;
  font-family: "Itim", cursive;
}
.link {
  position: absolute;
  bottom: 1%;
  left: 40%;
}
.detalles {
  font-family: cursive;
  text-decoration: none;
  color: #78281f;
  font-family: "Itim", cursive;
}

:placeholder-shown {
  color: maroon;
}
::placeholder {
  text-align: center;
}

.temperamento {
  color: #7c5b1f;
  font-weight: 600;
  font-family: "Itim", cursive;
}

.box {
  margin-left: 10px;
  margin-right: 10px;
}
