.container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.search {
  height: 2rem;
  width: 15rem;
  border: 1px solid maroon;
  border-radius: 5px;
}
.race {
  justify-content: space-evenly;
  margin-top: 1rem;
}
.submitSearch {
  margin-left: 1rem;
  background-color: maroon;
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  height: 2.8rem;
  width: 3.5rem;
  border-radius: 6px;
}
.submitSearch:hover {
  border: 2px solid black;
}
.dogs {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  flex-wrap: wrap;
  max-width: 80%;
  justify-content: center;
  margin: 0 auto;
}
.razas {
  margin-top: 1rem;
}

button {
  margin-left: 1rem;
  background-color: #78281f;
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  height: 3rem;
}
.buttonMaterial {
  background-color: #78281f;
  color: white;
}

.divSelect {
  display: flex;
  flex-direction: row;
}
.eleccion {
  background: #fff;
  color: #78281f;
  font-family: cursive;
}
.eleccion > option {
  color: red;
}
.redirec {
  text-decoration: none;
  color: maroon;
  font-family: cursive;
  padding: 10px;
  margin-right: 2rem;
}

.barra {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12rem;
}
.colums {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.page {
  height: 4rem;
  display: flex;
}
.test {
  margin: 0 auto;
}
.loading {
  margin-left: auto;
  margin-right: auto;
  margin-top: 22rem;
}
