.container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  position: relative;
}
.search {
  height: 2rem;
  width: 15rem;
  border: 1px solid maroon;
  border-radius: 5px;
}
.race {
  position: absolute;
  right: 5%;
  top: 4%;
  justify-content: space-evenly;
}
.submitSearch {
  background-color: maroon; /* Green */
  border: none;
  color: white;
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 8px;
}
.submitSearch:hover {
  border: 2px solid black;
}
.dogs {
  display: flex;
  flex-direction: row;
  margin-top: 10rem;
}
.razas {
  position: absolute;
  left: 5%;
  display: flex;
  justify-content: space-between;
}

button {
  margin-left: 1rem;
  background-color: maroon;
  border: none;
  color: white;
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}

.divSelect {
  position: absolute;
  left: 20%;
  display: flex;
  flex-direction: column;
}
.eleccion {
  background: wheat;
  color: maroon;
  font-family: cursive;
}
.redirec {
  text-decoration: none;
  color: maroon;
  font-family: cursive;
}
.divTemp {
  position: absolute;
  left: 27%;
  display: flex;
  flex-direction: column;
}
