.page {
  padding-right: 1rem;
  display: flex;
  height: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.link {
  color: #7c5b1f;
  float: left;
  padding: 8px 8px;

  text-decoration: none;
  background-color: whitesmoke;
  font-family: cursive;
}
.link:active {
  background-color: teal;
  color: aqua;
}
.caja {
  display: flex;
  flex-direction: row;
}
