.page {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;

  height: 10px;
}

.caja {
  display: inline-block;
  float: right;
}
.link {
  color: maroon;
  float: left;
  padding: 8px 6px;
  text-decoration: none;
  background-color: whitesmoke;
  font-family: cursive;
}
.link:active {
  background-color: teal;
  color: aqua;
}
