.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-family: Andale Mono, monospace;
  margin: 0 auto;
  opacity: 0.8;
  color: #a52a2a;
}

.imag {
  height: 10rem;
  opacity: 0.5;
}
