.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: absolute;
  left: 35%;
  font-family: Andale Mono, monospace;
  border-radius: 2rem;
  color: #a52a2a;
}

.imag {
  height: 10rem;
  opacity: 0.5;
  border-radius: 2rem;
}
